<div class="container has-text-centered">
    <div class="block">
        <span class="title">Admin</span>
    </div>
    <div class="block">
        <a href="/jobs">Jobs</a>
    </div>  
    <div class="block">
        <form action="/jobs" method="post">
            <button class="button is-primary" type="submit">
                <span class="icon">
                    <i class="fa-solid fa-database"></i>
                </span>
                <span>Reindex</span>                
            </button>
        </form>
    </div>
</div>