    <div class="container">
        <div class="block has-text-centered">Count: {{ count }}</div>
        {{!-- <div class="block has-text-centered">Random-Index: {{ randomIndex }}</div> --}}
        <div class="block has-text-centered">
            <a class="button is-primary" href="/pictures/?orderBy=random">
                <span class="icon">
                    <i class="fa-solid fa-shuffle"></i>
                </span>
                <span>Random</span>
            </a>
        </div>
    </div>